<li>
    <a href="{{ path('view_one_user', {id: app.user.id}) }}">
        View Profile
    </a></li>
<li>
    <a href="{{ path('add_new_card', {id: app.user.id}) }}">
        Add card
    </a></li>
<li>
    <a href="{{ path('view_all_cards', {id: app.user.id}) }}">
        View All Cards
    </a></li>