<header>
    {% if app.user %}
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">

                        {% if app.user.isSuperAdmin or app.user.isAdmin or app.user.isReceptionist %}


                            {% include 'partials/navbar_admin.html.twig' %}

                        {% else %}

                            {% include 'partials/navbar_client.html.twig' %}

                        {% endif %}

                        {% if app.user.isReceptionist %}

                            {% include 'partials/navbar_receptionist.html.twig' %}
                            {#{% include 'partials/body_receptionist.html.twig' %}#}

                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
</header>