{% extends 'base.html.twig' %}


{#{% block user_first_name %}#}

    {#Hello, {{ user.firstName }}#}

{#{% endblock %}#}


{% block body %}
    {#<h2>Hello, Guest!</h2>#}
    {#<br/>#}
    {#<h4>If you already a member, please login.</h4>#}
    {#<form>#}
        {#<input class="MyButton" type="button" value="Login" onclick="window.location.href='/login'" />#}
    {#</form>#}
    {#<h4>If not, register</h4>#}
    {#<form>#}
        {#<input class="MyButton" type="button" value="Register" onclick="window.location.href='/register'" />#}
    {#</form>#}
{% endblock %}
