{% extends 'base.html.twig' %}


{% block main %}

    <a class="btn btn-primary btn-xs" href="{{ path('user_register') }}" role="button">Add trainer</a>

    <body>
    <div class="container">
        <h2>All Trainers</h2>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Date added</th>
            </tr>
            </thead>
            {% for trainer in trainers %}
                <tbody>
                <tr>
                    <td>{{ trainer.name }}</td>
                    <td>{{ trainer.username }}</td>
                    <td>{{ trainer.dateAdded }}</td>
                </tr>
                </tbody>
            {% endfor %}

        </table>
    </div>
    </body>
    </html>

{% endblock %}