{% extends 'base.html.twig' %}

{% block user_first_name %}

    Hello, {{ user.firstName }}

{% endblock %}


{% block main %}

    {#TODO да довърша показването на бутоните според ролите#}

    <a href="{{ path('article_view_all') }}">View articles</a></br>
    <a href="{{ path('user_edit', {'id':user.id}) }}">Edit user information</a></br>
    {% if user.superAdmin  %}
        I'm SUPER ADMIN
    {% endif %}
    {% if user.admin %}
        I'm ADMIN
    {% endif %}
    {% if user.manager  %}
        I'm MANAGER
    {% endif %}

{% endblock %}