{#<form name="book_workout" action="{{ path('book_workout') }}" method="post">#}
    {#<h2>Please choose</h2>#}
    {#<label>#}
        {#Gender: <select typeof="text" name="workout[room]">#}
            {#<option value="fitness">Fitness</option>#}
            {#<option value="F">Female</option>#}
            {#<option value="F">Female</option>#}
        {#</select>#}
    {#</label><br/>#}

    {#<input type="hidden" name="_csrf_token" value="{{ csrf_token('register') }}"/><br/>#}
    {#<input type="submit" value="Register"/>#}
{#</form>#}
